name: Build and Test

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        submodule:
          - ":examples:books-catalogue"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: "17"
          distribution: "graalvm-community"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build
        id: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew ${{ matrix.submodule }}:build -x test

  test:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        submodule:
          - ":examples:books-catalogue"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: "17"
          distribution: "graalvm-community"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch main branch
        run: git fetch origin main:main

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Test
        id: test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew ${{ matrix.submodule }}:test sonar

      - name: Cache Test Results
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: junit-test-results
          path: "**/build/test-results/test/TEST-*.xml"
          retention-days: 1

      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: JUnit Test Report # Name of the check run which will be created
          path: "**/build/test-results/test/TEST-*.xml" # Path to test results (inside artifact .zip)
          reporter: java-junit # Format of test Results

      - name: Publish Test Report Annotations
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          check_name: JUnit Test Report Annotations
          report_paths: "**/build/test-results/test/TEST-*.xml"
