name: Build and Test

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: 21
          distribution: "graalvm-community"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        id: build
        run: |
          ./gradlew :examples:books-catalogue:build -x test :examples:books-catalogue-codegen:build -x test

      - name: Test
        id: test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
        run: |
          ./gradlew test testCodeCoverageReport

      - name: Publish Test Report
        id: sonar-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_ORGANIZATION: ${{ vars.SONAR_ORGANIZATION }}
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonar

      - name: Publish Test Report Annotations
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          check_name: JUnit Test Report Annotations
          report_paths: "**/build/test-results/test/TEST-*.xml"
